body{
  font-family:sans-serif;
  background:#f5f5f5;
  margin:0;
}

.container{
  max-width:1200px;
  margin:auto;
  padding:20px;
}

.card{
  background:white;
  padding:20px;
  margin-bottom:20px;
  border-radius:10px;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  border:1px solid #ddd;
  padding:10px;
}

.highlight{
  background:#fff3cd;
  font-weight:bold;
}

.price{
  font-size:40px;
  font-weight:bold;
}

.decision{
  font-size:28px;
  font-weight:bold;
}